
.destinations-section {
  padding: 60px 20px;
  text-align: center;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.destinations-section h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: black;
}

.destinations-section p {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 50px;
}

.places-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 60px;
}

.place-card {
  flex: 1 1 300px;     
  max-width: 320px;    
  height: 210px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.place-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
   transition: transform 0.3s ease-in-out;
}


.place-card .label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  padding: 0px 6px;
  font-weight: 600;
  font-size: 2.2rem;
  z-index: 2;
}

/* ---------- Hover Overlay ---------- */
.place-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  text-align: center;
}

.place-card:hover img {
  transform: scale(1.1);
}

.place-card:hover .overlay {
  transform: translateY(0);
}

.place-card:hover .label {
  display: none;
}

/* ---------- Responsive Design ---------- */
@media (max-width: 1024px) {
  .place-card {
    width: 45%;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .place-card {
    flex: 1 1 90%;      
    max-width: 100%;   
  }

  .place-card .label {
    font-size: 3.5rem;
  }

  .places-wrapper{
    padding: 0px 100px; 
  }
}
